spring:
  application:
    name: reactive-gateway

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8888/realms/theia

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: upload_with_limits
              uri: http://localhost:8081/api/v1/upload-document
              predicates:
                - Path=/api/v1/upload-document
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 5

server:
  port: 8083

#app:
#  upload:
#    max-file-size: 10485760
#  jwk:
#    uri: http://localhost:8888/realms/theia/protocol/openid-connect/certs

management:
  health:
    redis:
      enabled: true